Repository bora-things/bora-pagar-shippuden, pull requests merged in 2024-07, with the labels that each got.

#30 Feat: configurar swagger(detalhes) e relátorio/CI com Jacoco
  .github/workflows/backend.yml
  .github/workflows/test_coverage.yml
  backend/lombok.config
  backend/pom.xml
  backend/src/main/java/com/borathings/borapagar/config/SwaggerConfig.java
Labels: enhancement

#52 feat: Initialize frontend repo
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/.prettierrc.json
  frontend/.vscode/extensions.json
  frontend/README.md
  frontend/index.html
  frontend/jsconfig.json
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/favicon.ico
  frontend/src/App.vue
  frontend/src/assets/main.css
  frontend/src/main.js
  frontend/src/router/index.js
  frontend/src/views/HomeView.vue
  frontend/tailwind.config.js
  frontend/vite.config.js
Labels: front

#70 Feat: add design system
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/tailwind.config.js
Labels: enhancement, front

#71 Feat: create navbar
  frontend/src/App.vue
  frontend/src/assets/main.css
  frontend/src/components/BadgeTag.vue
  frontend/src/components/NavBar.vue
  frontend/src/main.js
  frontend/tailwind.config.js
Labels: enhancement, front
