Repository bora-things/bora-pagar-shippuden, pull requests merged in 2024-08, with the labels that each got.

#49 feat: Adiciona criação de usuário no login
  backend/pom.xml
  backend/src/main/java/com/borathings/borapagar/auth/CustomOidcUserService.java
  backend/src/main/java/com/borathings/borapagar/config/AuthConfig.java
  backend/src/main/java/com/borathings/borapagar/user/UserEntity.java
  backend/src/main/java/com/borathings/borapagar/user/UserRepository.java
  backend/src/main/java/com/borathings/borapagar/user/UserService.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V20240711204627__CREATE_USER_TABLE.sql
  backend/src/test/java/com/borathings/borapagar/auth/CustomOidcUserServiceTests.java
  backend/src/test/java/com/borathings/borapagar/course/CourseControllerTests.java
  backend/src/test/java/com/borathings/borapagar/ping/PingControllerTests.java
  backend/src/test/java/com/borathings/borapagar/subject/SubjectControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user/UserServiceTests.java
Labels: back

#68 fix: Usando builder nas entidades de curso e disciplina
  backend/src/main/java/com/borathings/borapagar/core/AbstractModel.java
  backend/src/main/java/com/borathings/borapagar/course/CourseEntity.java
  backend/src/main/java/com/borathings/borapagar/course/dto/CourseDTO.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
  backend/src/main/java/com/borathings/borapagar/subject/dto/SubjectDTO.java
  backend/src/test/java/com/borathings/borapagar/course/CourseControllerTests.java
  backend/src/test/java/com/borathings/borapagar/course/CourseServiceTests.java
  backend/src/test/java/com/borathings/borapagar/subject/SubjectControllerTests.java
  backend/src/test/java/com/borathings/borapagar/subject/SubjectServiceTests.java
Labels: back

#69 feat: Adicionando entidade de turma
  backend/createMigration
  backend/pom.xml
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomEntity.java
  backend/src/main/java/com/borathings/borapagar/core/AbstractModel.java
  backend/src/main/java/com/borathings/borapagar/course/CourseEntity.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
  backend/src/main/java/com/borathings/borapagar/user/UserEntity.java
  backend/src/main/resources/db/migration/V1.20240725212214__CREATE_CLASSROOM_TABLE.sql
  backend/src/test/java/com/borathings/borapagar/subject/SubjectControllerTests.java
Labels: enhancement, back

#48 feat: Adiciona autenticação básica utilizando OAuth2 + Google
  backend/src/docs/asciidoc/auth.adoc
  backend/src/docs/asciidoc/index.adoc
  backend/src/main/java/com/borathings/borapagar/auth/CustomOAuth2AuthorizationRequestResolver.java
  backend/src/main/java/com/borathings/borapagar/auth/OAuth2AuthenticationSuccessHandler.java
  backend/src/main/java/com/borathings/borapagar/config/AuthConfig.java
  backend/src/main/resources/application-dev.properties
  backend/src/test/java/com/borathings/borapagar/auth/CustomOAuth2AuthorizationRequestResolverTest.java
  backend/src/test/java/com/borathings/borapagar/auth/OAuth2AuthenticationSuccessHandlerTest.java
  backend/src/test/java/com/borathings/borapagar/course/CourseControllerTests.java
  backend/src/test/java/com/borathings/borapagar/ping/PingControllerTests.java
  backend/src/test/java/com/borathings/borapagar/subject/SubjectControllerTests.java
  backend/src/test/java/com/borathings/borapagar/utils/AuthenticatedMockMvc.java
Labels: back

#76 fix: renomeando migration para seguir convenção
  backend/src/main/resources/db/migration/V1.20240711204627__CREATE_USER_TABLE.sql
Labels: back

#78 Feat/dashboard view
  frontend/src/App.vue
  frontend/src/assets/main.css
  frontend/src/components/NavBar.vue
  frontend/src/components/PeriodCard.vue
  frontend/src/components/RadialProgress.vue
  frontend/src/components/SubjectCard.vue
  frontend/src/router/index.js
  frontend/src/views/DashboardView.vue
  frontend/src/views/HomeView.vue
  frontend/tailwind.config.js
Labels: enhancement, front

#83 fix: adicionando construtores às entidades e adicionando log de erro
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomEntity.java
  backend/src/main/java/com/borathings/borapagar/core/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/borathings/borapagar/course/CourseEntity.java
  backend/src/main/java/com/borathings/borapagar/course/CourseRepository.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
Labels: bug, back

#85 feat: preparando o userService para o endpoint de matrícula
  backend/src/main/java/com/borathings/borapagar/user/UserService.java
  backend/src/test/java/com/borathings/borapagar/user/UserServiceTests.java
Labels: enhancement, back

#86 feat: preparando classroom para endpoint de matrícula
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomRepository.java
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomService.java
  backend/src/test/java/com/borathings/borapagar/classroom/ClassroomServiceTests.java
Labels: enhancement, back

#94 Feat/create button component
  frontend/src/assets/main.css
  frontend/src/components/BpButton.vue
  frontend/src/components/CardSubjects.vue
  frontend/src/components/PeriodCard.vue
  frontend/src/views/ConsultSubjectsView.vue
  frontend/src/views/DashboardView.vue
  frontend/src/views/FriendsScreen.vue
Labels: enhancement, front

#96 feat: indicador de perfil completo/incompleto do usuário
  backend/src/main/java/com/borathings/borapagar/user/UserEntity.java
  backend/src/main/java/com/borathings/borapagar/user/UserService.java
  backend/src/main/resources/db/migration/V1.20240818213922__ALTER_USER_ADD_PROFILE_COMPLETE.sql
Labels: back

#101 feat: new upload component
  frontend/src/components/BpInputUpload.vue
Labels: front

#72 ci: Roda coverage do jacoco apenas quando houverem mudanças no backend
  .github/workflows/backend_test_coverage.yml
Labels: back

#100 feat: adiciona campos created_at e updated_at
  backend/src/main/java/com/borathings/borapagar/core/AbstractModel.java
  backend/src/main/resources/db/migration/V1.20240818230958__ALTER_TABLES_ADD_CREATED_AT_UPDATED_AT.sql
Labels: back

#99 feat: altera soft delete de `deleted` para `deleted_at` e implementa função
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomEntity.java
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomRepository.java
  backend/src/main/java/com/borathings/borapagar/core/AbstractModel.java
  backend/src/main/java/com/borathings/borapagar/core/AbstractRepository.java
  backend/src/main/java/com/borathings/borapagar/core/SoftDeletableModel.java
  backend/src/main/java/com/borathings/borapagar/core/SoftDeletableRepository.java
  backend/src/main/java/com/borathings/borapagar/course/CourseEntity.java
  backend/src/main/java/com/borathings/borapagar/course/CourseRepository.java
  backend/src/main/java/com/borathings/borapagar/course/CourseService.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectRepository.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectService.java
  backend/src/main/java/com/borathings/borapagar/user/UserEntity.java
  backend/src/main/java/com/borathings/borapagar/user/UserRepository.java
  backend/src/main/resources/db/migration/V1.20240814185314__ALTER_SOFT_DELETE_TABLES_CHANGE_DELETED_TO_DELETED_AT.sql
  backend/src/test/java/com/borathings/borapagar/course/CourseControllerTests.java
  backend/src/test/java/com/borathings/borapagar/course/CourseServiceTests.java
  backend/src/test/java/com/borathings/borapagar/subject/SubjectServiceTests.java
Labels: back

#97 feat: adiciona endpoint `/users/me`
  backend/src/main/java/com/borathings/borapagar/user/UserController.java
  backend/src/main/java/com/borathings/borapagar/user/UserMapper.java
  backend/src/main/java/com/borathings/borapagar/user/UserRepository.java
  backend/src/main/java/com/borathings/borapagar/user/dto/UserDTO.java
  backend/src/main/java/com/borathings/borapagar/user/impl/UserControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user/UserControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user/UserMapperTests.java
Labels: back

#93 feat: entidade de departamento
  backend/src/main/java/com/borathings/borapagar/department/DepartmentEntity.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
  backend/src/main/java/com/borathings/borapagar/subject/dto/SubjectDTO.java
  backend/src/main/resources/db/migration/V1.20240815185637__CREATE_DEPARTMENT_TABLE_AND_RELATION_WITH_SUBJECT.sql
  backend/src/test/java/com/borathings/borapagar/subject/SubjectControllerTests.java
Labels: enhancement, back

#87 feat: endpoint de matrícula
  backend/.gitignore
  backend/src/main/java/com/borathings/borapagar/classroom/ClassroomEntity.java
  backend/src/main/java/com/borathings/borapagar/user/UserEntity.java
  backend/src/main/java/com/borathings/borapagar/user/enrollment/EnrollmentController.java
  backend/src/main/java/com/borathings/borapagar/user/enrollment/EnrollmentService.java
  backend/src/main/java/com/borathings/borapagar/user/enrollment/impl/EnrollmentControllerImpl.java
  backend/src/main/resources/db/migration/V1.20240813170229__CREATE_ENROLLMENT_TABLE.sql
  backend/src/test/java/com/borathings/borapagar/user/enrollment/EnrollmentControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user/enrollment/EnrollmentServiceTests.java
Labels: enhancement, back

#108 fix: Problema no `SoftDeletableRepository`
  backend/src/main/java/com/borathings/borapagar/core/SoftDeletableRepository.java
Labels: back

#105 feat: Adicionando entidade de semestre de usuário
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterEntity.java
  backend/src/main/resources/db/migration/V1.20240822161031__CREATE_USER_SEMESTER_TABLE.sql
Labels: back

#110 feat: relacionamento de pré-requisito
  backend/src/main/java/com/borathings/borapagar/department/DepartmentEntity.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
  backend/src/main/resources/db/migration/V1.20240822210622__CREATE_PREREQUISITE_TABLE.sql
Labels: back

#106 refact: usando DTO nos services
  backend/src/main/java/com/borathings/borapagar/course/CourseService.java
  backend/src/main/java/com/borathings/borapagar/course/dto/CourseDTO.java
  backend/src/main/java/com/borathings/borapagar/course/impl/CourseControllerImpl.java
  backend/src/main/java/com/borathings/borapagar/subject/SubjectService.java
  backend/src/main/java/com/borathings/borapagar/subject/dto/SubjectDTO.java
  backend/src/main/java/com/borathings/borapagar/subject/impl/SubjectControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/course/CourseServiceTests.java
  backend/src/test/java/com/borathings/borapagar/subject/SubjectServiceTests.java
Labels: back

#111 feat: service de semestre de usuário
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterRepository.java
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterService.java
  backend/src/main/java/com/borathings/borapagar/user_semester/dto/UserSemesterDTO.java
  backend/src/test/java/com/borathings/borapagar/user_semester/UserSemesterServiceTests.java
Labels: back

#113 feat: finalizando CRUD de semestre do usuário
  backend/src/main/java/com/borathings/borapagar/core/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterController.java
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterEntity.java
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterService.java
  backend/src/main/java/com/borathings/borapagar/user_semester/dto/UserSemesterDTO.java
  backend/src/main/java/com/borathings/borapagar/user_semester/impl/UserSemesterControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_semester/UserSemesterControllerTests.java
Labels: enhancement, back

#114 fix: mudando captura de exceções no service de semestre
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterService.java
  backend/src/test/java/com/borathings/borapagar/user_semester/UserSemesterServiceTests.java
Labels: bug, back

#117 feat: adicionando relacionamento de equivalência entre disciplinas
  backend/src/main/java/com/borathings/borapagar/subject/SubjectEntity.java
  backend/src/main/resources/db/migration/V1.20240828194040__CREATE_EQUIVALENCES_TABLE.sql
Labels: enhancement, back

#115 feat: possibilidade de lançar `ApiException`
  backend/src/main/java/com/borathings/borapagar/core/exception/ApiException.java
  backend/src/main/java/com/borathings/borapagar/core/exception/GlobalExceptionHandler.java
Labels: enhancement, back

#119 feat: adicionando patcher
  backend/src/main/java/com/borathings/borapagar/core/Patcher.java
  backend/src/test/java/com/borathings/borapagar/core/PatcherTests.java
Labels: enhancement, back

#120 feat: entidade e repositório para interesses do usuário
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningEntity.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningRepository.java
  backend/src/main/resources/db/migration/V1.20240828202103__CREATE_USER_PLANNING_TABLE.sql
Labels: enhancement, back

#112 Feat/simbora chat
  frontend/.gitignore
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/images/simbora.png
  frontend/src/assets/main.css
  frontend/src/components/BpInputUpload.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/SimboraImg.vue
  frontend/src/components/SubjectCard.vue
  frontend/src/components/chat/ChatMessage.vue
  frontend/src/components/chat/SimboraChat.vue
  frontend/src/views/DashboardView.vue
  frontend/tailwind.config.js
Labels: enhancement, front
