Repository bora-things/bora-pagar-shippuden, pull requests merged in 2024-09, with the labels that each got.

#122 feat: endpoint para adicionar uma disciplina no planejamento do usuário
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningController.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningService.java
  backend/src/main/java/com/borathings/borapagar/user_planning/dto/CreateUserPlanningDTO.java
  backend/src/main/java/com/borathings/borapagar/user_planning/impl/UserPlanningControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningServiceTests.java
Labels: enhancement, back

#123 feat: endpoint para encontrar interesses do usuário
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningController.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningRepository.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningService.java
  backend/src/main/java/com/borathings/borapagar/user_planning/impl/UserPlanningControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningServiceTests.java
Labels: enhancement, back

#124 feat: endpoint para encontrar interesse específico do usuário
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningController.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningService.java
  backend/src/main/java/com/borathings/borapagar/user_planning/impl/UserPlanningControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningServiceTests.java
Labels: enhancement, back

#127 refact: renomeando 'id' para 'semesterId' no `UserSemesterService`
  backend/src/main/java/com/borathings/borapagar/user_semester/UserSemesterService.java
Labels: back

#129 feat: endpoint para remover disciplina do planejamento
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningController.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningRepository.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningService.java
  backend/src/main/java/com/borathings/borapagar/user_planning/impl/UserPlanningControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningServiceTests.java
Labels: enhancement, back

#131 feat: adicionando endpoint para mudar o semestre planejado para uma disciplina
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningController.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningService.java
  backend/src/main/java/com/borathings/borapagar/user_planning/dto/UpdateUserPlanningDTO.java
  backend/src/main/java/com/borathings/borapagar/user_planning/impl/UserPlanningControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningServiceTests.java
Labels: enhancement, back

#133 feat: endpoint que altera estado de conclusão da disciplina
  backend/src/main/java/com/borathings/borapagar/core/ApplicationConstants.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningController.java
  backend/src/main/java/com/borathings/borapagar/user_planning/UserPlanningService.java
  backend/src/main/java/com/borathings/borapagar/user_planning/impl/UserPlanningControllerImpl.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningControllerTests.java
  backend/src/test/java/com/borathings/borapagar/user_planning/UserPlanningServiceTests.java
Labels: enhancement, back

#126 feat: BpPagination
  frontend/src/components/BpPagination.vue
  frontend/src/views/FriendsScreen.vue
Labels: front

#130 Fix: code pattern
  frontend/src/assets/main.css
  frontend/src/components/BpInputUpload.vue
  frontend/src/components/CardSubjects.vue
  frontend/src/components/InputSearch.vue
  frontend/src/components/NavBar.vue
  frontend/src/components/SubjectCard.vue
  frontend/src/components/chat/SimboraChat.vue
  frontend/src/router/index.js
  frontend/src/views/ConsultSubjectsView.vue
  frontend/src/views/DashboardView.vue
  frontend/src/views/FriendsView.vue
Labels: front

#139 feat: adicionando biblioteca MapStruct
  backend/pom.xml
Labels: enhancement, back

#132 Feat/dark mode
  frontend/package-lock.json
  frontend/package.json
  frontend/src/views/HomeView.vue
  frontend/tailwind.config.js
Labels: front

#138 Fix: navbar
  frontend/src/assets/main.css
  frontend/src/components/BadgeTag.vue
  frontend/src/components/NavBar.vue
Labels: front

#144 style(frontend): add slide animation to Periodcard
  frontend/src/components/PeriodCard.vue
  frontend/src/views/DashboardView.vue
Labels: front

#145 Fix: erro de autenticação no swagger
  backend/src/main/java/com/borathings/borapagar/config/AuthConfig.java
Labels: bug

#157 feat: adicionando colunas de IEA e de período atual do usuário
  backend/src/main/java/com/borathings/borapagar/user/UserEntity.java
  backend/src/main/resources/db/migration/V1.20240913202952__ADD_LEVEL_AND_IEA_COLUMNS_TO_USER.sql
Labels: enhancement, back
